# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/demand-forecasting-frontend/node_modules
/demand-forecasting-backend/node_modules
/.pnp
.pnp.js
/demand-forecasting-backend/env
/demand-forecasting-backend/scripts/fine_tuned_gpt2
/demand-forecasting-backend/scripts/results
/demand-forecasting-backend/scripts/cached_lm_GPT2Tokenizer_128_text_data.txt
/demand-forecasting-backend/scripts/fine_tuned_gpt2.pth
/demand-forecasting-backend/scripts/text_data.txt

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
